/ProyectoMiControl/nbproject/private/
/AppUsoMiControl/nbproject/private/
/Componentes_GarciaVictor/nbproject/private/
/UsoComponentes/nbproject/private/
/Componentes_GarciaVictor/dist/
/Componentes_GarciaVictor/build/
/UsoComponentes/dist/
/UsoComponentes/build/
/ProyectoMiControl/build/
/ProyectoMiControl/dist/
/UIControlSamples/nbproject/private/
/UIControlSamples/build/
/UIControlSamples/dist/
/APPUsoSelector/nbproject/private/
/APPUsoSelector/build/
/APPUsoSelector/dist/
/AppVisorAnimales/nbproject/private/
/AppUsoTextoBoton/nbproject/private/